// $background-light: #0c0c0c;
// $background-dark: #090d03;
$background-dark: #0f1217;
$against-background-dark: #444;

$off-white: rgb(221, 221, 221);

$ryan-fam-red: #bf2931;
$ryan-fam-green: #7cbf29;
$ryan-fam-green-dim: #56851d;
$ryan-fam-green-low-alpha: #7cbf293d;
$ryan-fam-blue: #29bfb7;
$ryan-fam-purple: #6c29bf;
