// $background-light: #0c0c0c;
$background-dark: #090d03;

$off-white: rgb(221, 221, 221);

$ryan-fam-red: #bf2931;
$ryan-fam-green: #7cbf29;
$ryan-fam-green-low-alpha: #7cbf293d;
$ryan-fam-blue: #29bfb7;
$ryan-fam-purple: #6c29bf;
